logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/.cache

/node_modules
/bower_components
/.sass-cache
/src/main/js/build
/.tscache
/src/main/ts/.baseDir.ts
*.pyc
src/main/ts/**/*.js
src/main/ts/**/*.js.map