logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
/.cache
/node_modules
/bower_components
/.sass-cache
/.tscache
/src/main/js/ts/.baseDir.js
/src/main/js/ts/.baseDir.js.map
/src/main/ts/.baseDir.ts
npm-debug.log